
:root {
  --primary: 0 224 183; /* RGB for 16 185 129 */

  --primary-hover: 0 210 190; /* RGB for 16 185 129 */

  --background: 255 255 240; /* RGB for 0 0% 98% */

  --foreground: 28 28 23; /* RGB for 222.2 84% 4.9% */

  --card: 255 255 255; /* RGB for 0 0% 100% */
  --card-foreground: 28 28 23; /* RGB for 222.2 84% 4.9% */

  --popover: 255 255 255; /* RGB for 0 0% 100% */
  --popover-foreground: 28 28 23; /* RGB for 222.2 84% 4.9% */

  --primary-foreground: 0 0 0; /* RGB for 221.2 83.2% 53.3% */

  --secondary: 242 242 240; /* RGB for 210 40% 96.1% */
  --secondary-foreground: 28 28 23; /* RGB for 222.2 47.4% 11.2% */

  --muted: 242 242 240; /* RGB for 210 40% 96.1% */
  --muted-foreground: 250 228 208; /* RGB for 215.4 16.3% 46.9% */

  --accent: 242 242 240; /* RGB for 210 40% 96.1% */
  --accent-foreground: 28 28 23; /* RGB for 222.2 47.4% 11.2% */

  --destructive: 0 136 98; /* RGB for 0 84.2% 60.2% */
  --destructive-foreground: 242 242 242; /* RGB for 210 40% 98% */

  --border: 220 217 230; /* RGB for 214.3 31.8% 91.4% */
  --input: 220 217 230; /* RGB for 214.3 31.8% 91.4% */

  --ring: 30 144 230; /* RGB for 221.2 83.2% 53.3% */
  --radius: 0.4rem;
}
.dark{
  --primary: 0 224 183; /* RGB for 16 185 129 */

  --background: 255 255 240; /* RGB for 0 0% 98% */

  --foreground: 28 28 23; /* RGB for 222.2 84% 4.9% */

  --card: 255 255 255; /* RGB for 0 0% 100% */
  --card-foreground: 28 28 23; /* RGB for 222.2 84% 4.9% */

  --popover: 255 255 255; /* RGB for 0 0% 100% */
  --popover-foreground: 28 28 23; /* RGB for 222.2 84% 4.9% */

  --primary-foreground: 0 0 0; /* RGB for 221.2 83.2% 53.3% */

  --secondary: 242 242 240; /* RGB for 210 40% 96.1% */
  --secondary-foreground: 28 28 23; /* RGB for 222.2 47.4% 11.2% */

  --muted: 242 242 240; /* RGB for 210 40% 96.1% */
  --muted-foreground: 250 228 208; /* RGB for 215.4 16.3% 46.9% */

  --accent: 242 242 240; /* RGB for 210 40% 96.1% */
  --accent-foreground: 28 28 23; /* RGB for 222.2 47.4% 11.2% */

  --destructive: 0 136 98; /* RGB for 0 84.2% 60.2% */
  --destructive-foreground: 242 242 242; /* RGB for 210 40% 98% */

  --border: 220 217 230; /* RGB for 214.3 31.8% 91.4% */
  --input: 220 217 230; /* RGB for 214.3 31.8% 91.4% */

  --ring: 30 144 230; /* RGB for 221.2 83.2% 53.3% */
  --radius: 0.4rem;
}

